*{
font-family: 'Titillium Web', sans-serif;
}
body{
  padding:8px;
  margin: 2px;
 }

.custom-header{
  font-weight: bold;
  color:#fff;
  margin-top: 5px ;
  font-size: 30px;
  background-color: rebeccapurple;
  height: 55px;
  line-height: 55px;
  font-family: 'Titillium Web', sans-serif;
}

.custom-header:hover{
 background-color: aqua;
 color: rebeccapurple;
 font-weight: bolder;
 font-size: 33px;

}

table{
  text-align: start;
}


 input{
  height:39px;
  outline: none;
 
}
